body {
    background-color: bisque;
    font-family: Arial;
    padding: 20px;
}

input {
    padding: 6px;
}

button {
    color: tomato;
    padding: 6px 10px;
    margin-left: 5px;
}
